.link-card-container {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 480px;
}
@media screen and (max-width: 768px) {
  .link-card-container {
    width: 308px !important;
  }
  .url{
    font-size:10px ! important;
  }
}
u
