.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 9px !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 0.7rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
  cursor: pointer;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #61557f !important;
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.1rem;
  text-transform: uppercase;
  border-radius: 30px !important;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
.all-links-container {
  padding: 0;
  height: 490px;
  overflow-y: scroll;
}

/* Hide scrollbar on WebKit browsers */
.all-links-container::-webkit-scrollbar {
  width: 0;
  background: transparent; /* optional: makes scrollbar space transparent */
}
.copy-png {
  cursor: pointer;
  height: 22px !important;
}

@media screen and (max-width: 778px) {
  .all-links-container {
    display: flex;
    justify-content: evenly !important;
    margin-top: 20px !important;
  }
}
